/build
/.vscode
/examples
/test
/scripts

!/examples/hybrid_cuda/
!/scripts/install_cuda_apt.sh
!/docs/hybrid_cuda_quantum_design.md
!/docs/hybrid_qirrunner_perf_analysis.md
!/docs/install_guide.md
!/docs/qllvm_driver_layout_design.md
!/docs/qllvm_toolchain_overview.md

/examples/hybrid_cuda/*.bc
/examples/hybrid_cuda/hybrid_app
/examples/hybrid_cuda/*.deb
bell.bc
bell.o
hybrid_bell
